.flexer {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-top: 1%;
}

.image {
    margin: 0 32.5%;
    border-radius: 50%; /* Makes the image circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 100px;
    height: 100px;
}
.signup {
    margin-right: 3%;
    
}